

/* #fruits {
    color: red !important;
} */

/* .fav2 {
    color: purple !important;
} */
/* 
.favourite {
    color: yellow !important;
} */


ul li {
    color: red;
}

.favourite {
    color: blue
}

ul#fruits li.favourite {
    color: brown;
}
/* id = 1
    class = 1
    tag = 2
    score = 112
*/

ul#fruits li {
    color: pink !important;
}
/* 
    id = 1
    class = 0
    tags = 2
    score = 102
*/

.parent {
    color: blue;
    font-size: 40px;
}

.child {
    color: inherit;
    font-size: inherit;

    position: static;
    border: solid 1px black;
    top: 100px; /* no affect*/
}

/* .relative-cls {
    position: relative;
    width: 300px;
    height: 200px;
    border: solid 1px black;
}

.book1 {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: cyan;
    text-align: center;


}

.book2 {
    position: relative;
    top: 20px;
    left: 30px;
    background-color: blueviolet;
} */


.bookshelf {
    position: relative;
    width: 300px;
    height: 400px;
    border: solid 1px black;
    top: 200px;
    left: 200px;
}

.book1 {
    background-color: aquamarine;
    width: 50px;
    height: 100px;
    text-align: center;
}
.book2 {
    background-color: yellowgreen;
    width: 50px;
    height: 100px;
    text-align: center;

}
.book3 {
    background-color: rgb(243, 17, 239);
    width: 50px;
    height: 100px;
    text-align: center;
    /* absolute position */
    position: absolute;
    top: 30px;
    left: 50px;
}
.book4 {
    background-color: rgb(240, 94, 14);
    width: 50px;
    height: 100px;
    text-align: center;
}
