.pcm-badge {
    color: red;
    
}

.pcb-badge {
    color: blue;
}

.commerce-badge {
    color: rgb(55, 255, 0);
}

.arts-badge {
    color: rgb(94, 69, 157);
}

p {
    color: red;
}

.big-size {
    font-size: 80px;
}

#iit-candidates {
    text-transform: uppercase;
}

.smallcase {
    text-transform: lowercase;
}

h1 {
    text-transform: capitalize;
}

/* descendant selector example  */

div ol li {
    color:red
}
/* <!-- descendant selector example ends */


/* child selector starts using > (greater than) */

div > h1 > span {
    color: blue
}

div > span > h1 > span {
    color:pink
}

/* 
div  h1  span {
    color: blue
} 
NOTE - this will apply blue olor to both (                I am direct son - (blue) & I m indirect son 
 & 
*/

/* multiple selector */
.m1.m2{ 
    color: blue
}

/* div>span>.c2 {
    color: red
}
div > div > div > span > div {
    color: red
} */

.c1 .c2 {
    color:red
}

/* attribute selector */
input[value="select me"] {
    background-color: red;
    color: white
}


/* pseduo class */
a:hover {
    color: red
}
 

 