/* #grandparent {
    background-color: red;
    height: 100px;
    width: 100px;
}

#parent {
    background-color: green;
    height: 75px;
    width: 75px;
}

#child {
    background-color: blue;
    height: 50px;
    width: 50px;
} */


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .counter {
    display: flex;
    align-items: center;
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }