.container {
background-color: orange;
border: solid 1px black;
height: 500px;
/* width: 500px; */
/* using flex now */
display: flex;
/* justify prop */
/* props - space-evenly , space-around , flex-start, flex-end , center */
justify-content: center;
/* align items props - flex-start , flex-end , center , baseline, stretch */
align-items: center;
/* baseline - aligns wrt text present. */

/* wrap */
flex-wrap: wrap;
}

.box {
    height: 200px;
    width: 200px;
    background-color: cyan;
    margin: 10px;
}

.box1 {
    /* order: 4; */
}

.box3 {
    /* order: 2 */
    /* flex-shrink: 2; */
    flex-grow: 2;
}

body {
    font-size: 24px;
    margin: 20px;
    color: red;
}

@media only screen and (max-width: 600px) {
body {
    font-size: 16px;
    color: green;
}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 12px;
        color: blue;
    }
}

@media only screen and (min-width: 901px) {
    body {
        font-size: 4px;
        color: orange;
    }
}